.fadeIn{
    animation: fadein 1s;
}
.fadeOut{
    animation: fadeout 1s;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.2;
    }
    40%{
        opacity: 0.4;
    }
    60%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeout{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 0.8;
    }
    40%{
        opacity: 0.6;
    }
    60%{
        opacity: 0.4;
    }
    80%{
        opacity: 0.2;
    }
    100%{
        opacity: 0;
    }
}