//flex格線
.col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  @for $i from 1 through 3{
    .col-#{$i}{
      @include makegrid($i / 3)
    }
  }
  @each $breakpoint,$size in $breakpoints{
    @include breakpoint($breakpoint){
      @for $i from 1 through 3{
        .col-#{$breakpoint}-#{$i}{
          @include makegrid($i / 3)
        }
      }
    }
  }
  @for $i from 1 through 3 {
    .grid-#{$i} {
      grid-column: span $i;
    }
  }
//背景外框
@each $theme,$color in $color-theme {
    .bg-#{$theme}{
        background-color: #{$color} !important;
    }
    .text-#{$theme}{
        color: #{$color} !important;
    }
}
//文字大小
@each $size,$length in $fontSize {
  .font-size-#{$size}{
    font-size: #{$length} !important;
  }
}
@each $breakpoint,$size in $breakpoints{
  @include breakpoint($breakpoint){
    @each $size,$length in $fontSize {
      .font-#{$breakpoint}-size-#{$size}{
          font-size: #{$length} !important;
      }
    }
  }
}

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacers {
      .#{$abbrev}-#{$size} { 
          #{$prop}: $length !important; 
      }
      .#{$abbrev}t-#{$size}{
          #{$prop}-top: $length !important;
      }
      .#{$abbrev}r-#{$size}{
          #{$prop}-right: $length !important;
      }
      .#{$abbrev}b-#{$size}{
          #{$prop}-bottom: $length !important;
      }
      .#{$abbrev}l-#{$size}{
          #{$prop}-left: $length !important;
      }
  }
}
@each $breakpoint,$size in $breakpoints{
  @include breakpoint($breakpoint){
    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {
          .#{$abbrev}-#{$breakpoint}-#{$size} { 
              #{$prop}: $length !important; 
          }
          .#{$abbrev}t-#{$breakpoint}-#{$size}{
              #{$prop}-top: $length !important;
          }
          .#{$abbrev}r-#{$breakpoint}-#{$size}{
              #{$prop}-right: $length !important;
          }
          .#{$abbrev}b-#{$breakpoint}-#{$size}{
              #{$prop}-bottom: $length !important;
          }
          .#{$abbrev}l-#{$breakpoint}-#{$size}{
              #{$prop}-left: $length !important;
          }
      }
    }
  }
}
